/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body {
  background: rgba(241,231,103,1);
  background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
  background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
}

#header {
  background-color:orange;
  color: black;
  text-align:center;
  padding:5px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#buttons {
  line-height: 30px;
  background-color: orange;
  height:685px;
  width:300px;
  float:left;
  padding:10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.animate_button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 40px 100px;
  margin: auto;
  text-decoration: none;
  text-shadow: 2px 2px 1px #595959;
  filter: dropshadow(color=#595959, offx=1, offy=1);
  border-radius: 50px;
}
.button_color {
  border: solid 1px #720000;
   background-color: #c72a2a;
   background: -moz-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
   background: -webkit-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
   background: -ms-linear-gradient(top, #c72a2a 0% ,#9e0e0e 100%);
   background: linear-gradient(top, #c72a2a 0% ,#9e0e0e 100%);
   -webkit-box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
   -moz-box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
   box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
}
.button_color:hover {
  background-color: #b52f2f;
    background: -moz-linear-gradient(top, #b52f2f 0%, #910b0b 100%);
    background: -webkit-linear-gradient(top, #b52f2f 0%, #910b0b 100%);
    background: -ms-linear-gradient(top, #b52f2f 0% ,#910b0b 100%);
    background: linear-gradient(top, #b52f2f 0% ,#910b0b 100%);

}

.button_color:active {
  background-color: #8f2222;
  background: -moz-linear-gradient(top, #8f2222 0%, #660808 100%);
  background: -webkit-linear-gradient(top, #8f2222 0%, #660808 100%);
  background: -ms-linear-gradient(top, #8f2222 0% ,#660808 100%);
  background: linear-gradient(top, #8f2222 0% ,#660808 100%);
}

.pad {
  padding-top: 100px;
}
.index_specific {
}

#canvas {
  height:auto;
  background: rgba(241,231,103,1);
  background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,0)));
  background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,0) 100%);
  background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,0) 100%);
  background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,0) 100%);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)
}

.text_format {
  font-size: 30px;
  color: black;
  text-align:center;
  padding:5px;
}

.form_text {
    font-weight: bold;
    font-size: 15px;
  color: black;
  text-align:center;
}

table {
    color: #333333;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    border-width:1px;
    border-color: #ebab3a;
}

th {
    background-color:#e6983b;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #ebab3a;
    text-align: center;
}

tr {
    background-color: #F0C169;
}

td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #ebab3a;
}

.draw_surface {
    width: 1000px;
    height:400px;
    border: 1px solid #000000;
    margin-left:auto;
    margin-right:auto;
    
}
